name: Deploy

on:
  push:
  release:
    types: [ released ]

jobs:
  job:
    name: Deploy
    runs-on: ubuntu-latest

    env:
      AUTH_EMAIL: 30989490+ShineyDev@users.noreply.github.com
      AUTH_LOGIN: ShineyDev
      AUTH_TOKEN: ${{ secrets.DOCS_TOKEN }}

      PULL_INSTALL: .[docs]
      PULL_PATH: docs

      PUSH_REPOSITORY: ${{ github.repository_owner }}/docs
      PUSH_LATEST_PATH: latest
      PUSH_STABLE_PATH: stable

      PYTHON_VERSION: 3.9
      SPHINX_OPTIONS: -b dirhtml -a -E -n -T -W --keep-going

    steps:
    - name: Checkout ${{ github.repository }}
      uses: actions/checkout@v2
      with:
        path: ${{ github.event.repository.name }}

    - name: Checkout ${{ env.PUSH_REPOSITORY }}
      uses: actions/checkout@v2
      with:
        path: docs
        repository: ${{ env.PUSH_REPOSITORY }}
        token: ${{ env.AUTH_TOKEN }}

    - name: Set up Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Install
      working-directory: ./${{ github.event.repository.name }}
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade ${{ env.PULL_INSTALL }}

    - name: Build
      if: ${{ github.event_name == 'push' }}
      run: |
        if [ -d ./docs/${{ github.event.repository.name }}/${{ env.PUSH_LATEST_PATH }} ]; then rm -r ./docs/${{ github.event.repository.name }}/${{ env.PUSH_LATEST_PATH }}; fi
        python -m sphinx ${{ env.SPHINX_OPTIONS }} ./${{ github.event.repository.name }}/${{ env.PULL_PATH }} ./docs/${{ github.event.repository.name }}/${{ env.PUSH_LATEST_PATH }}
        x=${{ github.event.repository.name }}/${{ env.PUSH_LATEST_PATH }}; y=$x; while [ $y != ${y%/*} ]; do y=${y%/*}; echo '<!DOCTYPE html><html><head><meta http-equiv="refresh" content="0;url='"${x#$y/}"'" /></head><body></body></html>' > ./docs/$y/index.html; done

    - name: Build
      if: ${{ github.event_name == 'release' }}
      run: |
        if [ -d ./docs/${{ github.event.repository.name }}/${{ github.event.release.tag_name }} ]; then rm -r ./docs/${{ github.event.repository.name }}/${{ github.event.release.tag_name }}; fi
        python -m sphinx ${{ env.SPHINX_OPTIONS }} ./${{ github.event.repository.name }}/${{ env.PULL_PATH }} ./docs/${{ github.event.repository.name }}/${{ github.event.release.tag_name }}
        if [ -h ./docs/${{ github.event.repository.name }}/${{ env.PUSH_STABLE_PATH }} ]; then rm ./docs/${{ github.event.repository.name }}/${{ env.PUSH_STABLE_PATH }}; fi
        ln -s ${{ github.event.release.tag_name }} ./docs/${{ github.event.repository.name }}/${{ env.PUSH_STABLE_PATH }}

    - name: Push
      continue-on-error: true
      working-directory: docs
      run: |
        git config user.name ${{ env.AUTH_LOGIN }}
        git config user.email ${{ env.AUTH_EMAIL }}
        git add .
        git commit -m "update docs for ${{ github.repository }}"
        git push
